/* ------------ IMG-CSS MYIMG-CSS SIZE-IMAGE-CSS IMAGE-SIZE-CSS IMAGE-CSS ------- */
.myImg{
    width: clamp(200px, 50vw, 500px);
    /* background-color: #333333; */
}

.myImg6{
    width: clamp(300px, 60vw, 600px);
    /* background-color: #333333; */
}

.myImg8{
    width: clamp(130px, 34vw, 250px);
    height: clamp(100px, 34vw, 250px);

    /* background-color: #333333; */
}

.myImg7{
    width: clamp(250px, 55vw, 550px);
    /* background-color: #333333; */
}

.myImg2{
    width: clamp(50px, 10vw, 100px);
    height: clamp(50px, 10vw, 100px);
    /* background-color: #333333; */
}

.myImg4{
    width: clamp(90px, 10vw, 100px);
   
    /* background-color: #333333; */
}

.myImg3{
    width: clamp(30px, 7vw, 60px);
    height: clamp(30px, 7vw, 60px);
    /* background-color: #333333; */
}

.myImg5{
    width: clamp(40px, 8vw, 60px);
    height: clamp(40px, 8vw, 60px);
    /* background-color: #333333; */
}

/* --------------------- */

/* ----------- FONT-FAMILY-CSS -------- */

@font-face {
    font-family: Monserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'DM Serif';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}


.ff1{
    font-family: 'DM Serif';
}

.ff2{
    font-family: 'Monserrat';
}

/* --------------------- */